## Tuple

In [1]:
# Creating a tuple
my_tuple = (1, 2, 3, 'Hello', 'World')

In [2]:
# Accessing elements in a tuple

print(my_tuple[0])  # Output: 1

print(my_tuple[3])  # Output: Hello

1
Hello

In [3]:
# Iterating through a tuple

for item in my_tuple:

    print(item)

1
2
3
Hello
World

In [4]:
# Tuple with a single element (note the trailing comma)

single_element_tuple = (42,)

In [5]:
# Tuple unpacking

a, b, c, d, e = my_tuple

print(a, b, c, d, e)  # Output: 1 2 3 Hello World

1 2 3 Hello World

## List

In [6]:
# Creating a list
my_list = [1, 2, 3, 'Hello', 'World']

In [7]:
# Accessing elements in a list

print(my_list[0])  # Output: 1

print(my_list[3])  # Output: Hello

1
Hello

In [8]:
# Modifying elements in a list

my_list[1] = 42

print(my_list)  # Output: [1, 42, 3, ‘Hello’, ‘World’]

[1, 42, 3, 'Hello', 'World']

In [9]:
# Iterating through a list

for item in my_list:

    print(item)

1
42
3
Hello
World

In [10]:
# List methods

my_list.append('Python')

print(my_list)  
#Output: [1, 42, 3, 'Hello', 'World', 'Python']

[1, 42, 3, 'Hello', 'World', 'Python']

In [11]:
my_list.remove(1)

print(my_list)  #Output: [1, 42, 'Hello', 'World', 'Python']

[42, 3, 'Hello', 'World', 'Python']

## Dictionary

In [12]:
# Creating a dictionary
my_dict = {

    'name': 'John',

    'age': 30,

    'city': 'New York'
}

In [13]:
# Accessing values in a dictionary

print(my_dict['name'])  #Output: John

John

In [14]:
print(my_dict['age'])    # Output: 30

30

In [15]:
# Modifying values in a dictionary

my_dict['age'] = 31

print(my_dict)  #Output: {'name': 'John', 'age': 31, 'city': 'New York'}

{'name': 'John', 'age': 31, 'city': 'New York'}

In [16]:
# Adding a new key-value pair

my_dict['country'] = 'USA'

print(my_dict)  #Output: {‘name’: ‘John’, ‘age’: 31, ‘city’: ‘New York’, ‘country’: ‘USA’}

{'name': 'John', 'age': 31, 'city': 'New York', 'country': 'USA'}

In [17]:
# Removing a key-value pair

del my_dict['city']

print(my_dict)  # Output: {‘name’: ‘John’, ‘age’: 31, ‘country’: ‘USA’}

{'name': 'John', 'age': 31, 'country': 'USA'}

In [18]:
# Checking if a key exists in a dictionary

if 'name' in my_dict:

    print('Name:', my_dict['name'])  #Output: Name: John

Name: John